@model IEnumerable<Visions.Web.Models.PhotoViewModel>

@{
    ViewBag.Title = Resources.Constants.AdminManageSectionTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

@Html.Partial("_UploadPhoto")

<table class="table table-bordered table-striped">
    @if (this.Model.Count() > 0)
    {
        foreach (var photo in this.Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => photo.CreatedOn)
                </td>
                <td class="col-sm-5">
                    <img src="@photo.Path" class="img-responsive center-block"/>
                </td>
                <td>
                    @foreach (var tag in photo.Tags)
                    {
                        <span>@Html.DisplayFor(model => tag.Text)</span>
                    }
                </td>
                <td class="text-center text-uppercase text-primary">
                    @Ajax.ActionLink(Resources.Constants.EditSectionText, "Edit", new
               {
                   id = photo.Id
               }, new AjaxOptions()
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "edit-photo"
               }) |
                    @Ajax.ActionLink(Resources.Constants.DetailsSectionText, "Details", new
               {
                   id = photo.Id
               }, new AjaxOptions()
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "details-photo"
               }) |
                    @Ajax.ActionLink(Resources.Constants.DeleteSectionText, "Delete", new
               {
                   id = photo.Id
               }, new AjaxOptions()
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "delete-photo"
               })
                </td>
            </tr>
        }
    }

</table>

<div id="upload-photo"> </div>
<div id="edit-photo"> </div>
<div id="details-photo"> </div>
<div id="delete-photo"> </div>


