@using Resources

@model Visions.Web.Models.PhotoViewModel

@{
    ViewBag.Title = GlobalResources.DeletePhotoTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="well-lg col-lg-offset-3">
    <h3 class="col-lg-offset-6">@GlobalResources.DeleteConfirmationQuestionMessage</h3>

    <dl class="dl-horizontal">
        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd>
            @foreach (var tag in this.Model.Tags)
            {
                <span>@Html.DisplayFor(model => tag.Text)</span>
            }
        </dd>

        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt class="text-primary">
            @GlobalResources.LabelForImage
        </dt>

        <dd>
            <img src="@this.Model.Path" class="col-xs-12" />
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-xs-offset-6">
            <input type="submit" value=@GlobalResources.DeleteButtonText class="btn btn-post-article text-uppercase text-danger" /> |
            @Html.ActionLink(GlobalResources.BackToListMessage, "Manage", new
       {
       }, new
       {
           @class = "btn btn-post-article text-uppercase"
       })
        </div>
    }
</div>
