@model Visions.Web.Models.PhotoViewModel

@{
    ViewBag.Title = Resources.Constants.PhotoDetailsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="form-horizontal well-lg col-lg-offset-2">
    <h2 class="col-lg-offset-8">@this.ViewBag.Title</h2>

    <dl class="dl-horizontal">
        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd class="text-lowercase">
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd class="text-lowercase">
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>

        <dd class="text-lowercase">
            @if (this.Model.Tags.Count() > 0)
            {
                foreach (var tag in this.Model.Tags)
                {
                    <span>@Html.DisplayFor(model => tag.Text)</span>
                }
            }
            else
            {
                <label class="label label-danger text-capitalize">none</label>
            }
        </dd>

        <dt class="text-primary">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd class="text-lowercase">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt class="text-primary">
            @Resources.Constants.LabelForImage
        </dt>

        <dd>
            <img src="@this.Model.Path" class="col-xs-10 box-shadow" />
        </dd>
    </dl>

    <div class="col-xs-offset-7">
        @Html.ActionLink(Resources.Constants.EditButtonText, "Edit", new
   {
       id = Model.Id
   }, new
   {
       @class = "btn btn-post-article text-uppercase"
   }) |
        @Html.ActionLink(Resources.Constants.BackToListMessage, "Manage", new
   {
   }, new
   {
       @class = "btn btn-post-article text-uppercase"
   })
    </div>
</div>
