@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Visions.Web.Models.PhotoViewModel>

@{
    ViewBag.Title = "Shared dashboard";
}

<h2>@ViewBag.Title</h2>

@if (this.Model.Count() > 0)
{
    @Html.Partial("_AllPhotos", this.Model)
}

<div class="col-sm-10">
        @Html.PagedListPager(this.Model, page => Url.Action("Shared",
       new
       {
           page,
           pageSize = this.Model.PageSize
       }))
        <p class="center-block text-info text-lowercase">
            Showing @this.Model.FirstItemOnPage to @Model.LastItemOnPage of @this.Model.TotalItemCount photos
        </p>
</div>
