@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Visions.Web.Models.PhotoViewModel>

@{
    ViewBag.Title = Resources.Constants.SharedDashboardTitle;
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("Search", null,
                    new AjaxOptions
                    {
                        UpdateTargetId = "allPhotos",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    }, new
                    {
                        id = "searchForm"
                    }))
{
    <input type="text" name="query" placeholder=@Resources.Constants.SearchPlaceholderText onsubmit="changed()" class="navbar-form form-control" />
}

<div id="allPhotos">
    @if (this.Model.Count() > 0)
    {
        @Html.Partial("_AllPhotos", this.Model)
    }
    else
    {
        <div class="well-lg text-uppercase text-center">
            <h1>@Resources.Constants.NoResultsMessage.</h1>
        </div>
    }
</div>

<div class="col-sm-10">
    @Html.PagedListPager(this.Model, page => Url.Action("Shared",
       new
       {
           text = this.ViewBag.SelectedTag,
           page,
           pageSize = this.Model.PageSize
       }))
    <div class="btn btn-post-article text-uppercase">
        @Html.ActionLink(Resources.Constants.BackToHomepageMessage, "Index", "Home")
    </div>
</div>

@section Scripts{
    <script>
        function changed() {
            $("#searchForm").submit();
        }
    </script>
}

