@using PagedList;
@using PagedList.Mvc;
@using Visions.Web.App_GlobalResources

@model IPagedList<PhotoViewModel>

@{
    ViewBag.Title = GlobalResources.SharedDashboardTitle;
}

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("Search", null,
                                new AjaxOptions
                                {
                                    UpdateTargetId = "allPhotos",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "POST"
                                }, new
                                {
                                    id = "searchForm"
                                }))
{
    @Html.AntiForgeryToken()

    <input type="text" name="query" placeholder=@GlobalResources.SearchPlaceholderText onsubmit="changed()" class="navbar-form form-control" />
}

<div id="allPhotos">
    @if (this.Model.Count() > 0)
    {
        @Html.Partial("_AllPhotos", this.Model)
    }
    else
    {
        <div class="well-lg text-uppercase text-center">
            <h1>@GlobalResources.NoResultsMessage.</h1>
        </div>
    }
</div>

<div class="col-sm-10">
    @Html.PagedListPager(this.Model, page => Url.Action("Shared",
       new
       {
           text = this.ViewBag.SelectedTag,
           page,
           pageSize = this.Model.PageSize
       }))
    <div class="btn btn-post-article text-uppercase">
        @Html.ActionLink(GlobalResources.BackToHomepageMessage, "Index", "Home")
    </div>
</div>

@section Scripts{
    <script>
        function changed() {
            $("#searchForm").submit();
        }
    </script>
}

