@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Visions.Web.Models.PhotoViewModel>

@{
    ViewBag.Title = Resources.Constants.ProfileTabText;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

@Html.Partial("_UploadPhoto")

@if (this.Model.Count() > 0)
{
    @Html.Partial("_UserPhotos", this.Model)
}
else
{
    <div class="well-lg text-uppercase text-center">
        <h1>@Resources.Constants.NoResultsMessage.</h1>
    </div>
}

<div class="col-sm-10">
    @Html.PagedListPager(this.Model, page => Url.Action("Sort",
       new
       {
           text = this.ViewBag.SelectedTag,
           page,
           pageSize = this.Model.PageSize
       }))

    <div id="backToHomepageLink">
        @Html.ActionLink(Resources.Constants.BackToHomepageMessage, "Index", "Home", new
   {
       area = ""
   }, new
   {
       @class = "btn btn-post-article text-uppercase"
   })
    </div>
</div>
