@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br />

<p>
    <h1>@Resources.Constants.AboutPageMainText</h1>
    <h4>@Resources.Constants.AboutPageSecondaryText</h4>
</p>
<div class="section">
    <div class="page-header"></div>
    <div class="text-right">
        <dl>
            <dt>@Resources.Constants.FoundedByLabel</dt>
            <dd>@Resources.Constants.FoundedByText</dd>
            <dt>@Resources.Constants.FounderLabel</dt>
            <dd>@Resources.Constants.FounderText</dd>
        </dl>
    </div>
</div>
