@using Resources

@{
    ViewBag.Title = GlobalResources.AboutPageTitle;
}

<h2>@ViewBag.Title</h2>
<br />

<p>
    <h1>@GlobalResources.AboutPageMainText</h1>
    <h4>@GlobalResources.AboutPageSecondaryText</h4>
</p>
<div class="section">
    <div class="page-header"></div>
    <div class="text-right">
        <dl>
            <dt>@GlobalResources.FoundedByLabel</dt>
            <dd>@GlobalResources.FoundedByText</dd>
            <dt>@GlobalResources.FounderLabel</dt>
            <dd>@GlobalResources.FounderText</dd>
        </dl>
    </div>
</div>

<div class="col-sm-10 top-margin">
    <div class="btn btn-post-article text-uppercase">
        @Html.ActionLink(GlobalResources.BackToHomepageMessage, "Index", "Home")
    </div>
</div>

@section Styles{
    @Styles.Render("~/Content/Site.css")
}
