@using Visions.Web.App_GlobalResources

@{
    ViewBag.Title = GlobalResources.HomepageGetStartedButtonText;
}

<header>
    <div class="header-content container">
        <div class="header-content-inner">
            <h1 id="homeHeading">visions.</h1>
            <hr>

            @if (this.User.Identity.IsAuthenticated)
            {
                <h3>@GlobalResources.PostArticleTitle</h3>

                <form id="createArticleForm" action="" method="post" enctype="multipart/form-data">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.AntiForgeryToken()

                            <input id="articleTitle" type="text" name="articleTitle" class="form-control article-field" placeholder="@GlobalResources.ArticleTitlePlaceholderMessage"
                                    pattern="(.*?){2,50}" autofocus required title="must be from 2 to 50 symbols"/>
                        </div>

                        <div class="form-group">
                            <input id="articleContent" type="text" name="articleContent" class="form-control article-field" placeholder="@GlobalResources.ArticleContentPlaceholderMessage" 
                                   pattern="(.*?){2,500}" autofocus required title="must be from 2 to 500 symbols" />
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value=@GlobalResources.PostArticleButtonText class="btn btn-default btn-post-article article-field" />
                    </div>
                </form>

                @Html.Action("AllArticles")
            }
            else
            {
                <p>
                    @GlobalResources.HomepageMainText
                    <br />
                    @GlobalResources.HomepageSecondaryText
                </p>
                @Html.ActionLink(GlobalResources.HomepageGetStartedButtonText, "Login", "Account", new {}, new { @class="btn btn-primary btn-xl" })
            }
        </div>
    </div>
</header>

@section Scripts {
    <script>
        const ArticleFieldMinLength = 2;

        $("#createArticleForm").validate({
            rules: {
                articleTitle: {
                    required: true,
                    minlength: ArticleFieldMinLength
                },
                articleContent: {
                    required: true,
                    minlength: ArticleFieldMinLength
                }
            }
        });

        $.validator.messages.required = @GlobalResources.ArticleFiledRequiredValidationMessage;
        $.validator.messages.minlength = "@GlobalResources.ArticleFieldMinLengthValidationMessage;
    </script>
}