<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Visions</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/less")

</head>
<body id="page-top">
    <div class="container">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll">@Html.ActionLink("visions.", "Shared", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll">
                            @Html.RouteLink(this.User.Identity.Name.Substring(0, this.User.Identity.Name.IndexOf("@")), "User_default", new { action = "Dashboard", controller = "Profile" })
                        </li>
                        <li class="page-scroll">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <hr class="primary">
                    <p> @DateTime.Now.Year | ASP.NET MVC - Course project</p>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/creative")
    @Scripts.Render("~/bundles/scrollreveal")
    @RenderSection("scripts", required: false)
</body>
</html>
